<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] %-4relative %-5level [%thread] %caller{1}: %logger{36} - %msg%n</pattern>-->
            <!--            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(-&#45;&#45;){faint} %clr([%thread]){faint} %clr(%-40.40logger{39}){cyan} %L %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>-->
            <!--            <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %5p [%t]  %replace(%caller{1}){'\t|Caller.{1}0|\r\n', ''}  - %m%n</pattern>-->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] %-4relative %-5level [%thread]
                %replace(%caller{1}){'\t|Caller.{1}0|\r\n', ''}: %msg%n
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!--rootLogger是默认的logger-->
    <root level="INFO">
        <!--定义了两个appender，日志会通过往这两个appender里面写-->
        <appender-ref ref="CONSOLE"/>
    </root>

    <!--应用日志-->
    <!--这个logger没有指定appender，它会继承root节点中定义的那些appender-->
    <logger name="com.lyloou" level="DEBUG"/>

</configuration>
